<!--  -->
<router-outlet></router-outlet>
<lib-design-lib></lib-design-lib>
<lib-button>
    <lib-card-image>
        <div class="card__image card__image--fence"></div>
    </lib-card-image>
    <lib-card-header>
        <div class="card__image card__image--fence"></div>
        <div class="card__title">Flex</div>
    </lib-card-header>
    <lib-card-content>
        <p class="card__text">
            This is the shorthand for flex-grow, flex-shrink and flex-basis
            combined. The second and third parameters (flex-shrink and
            flex-basis) are optional. Default is 0 1 auto.
        </p>
    </lib-card-content>
    <lib-card-footer>
        <button class="btn btn--block card__btn">Button</button>
    </lib-card-footer>
</lib-button>
